//custom variables
$primary: #bc282e;
$light: #bc282e;

//import the functions and varaibles
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$custom-theme-colors: (
"altlight" : #b82134,
"altdark" : #000000
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';